#loading-screen {
  position: fixed;
  inset: 0;

  background-color: black;
  background-image: url("../loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  z-index: 9999;

  opacity: 1;
  transition: opacity 0.5s ease;

  overflow: hidden;
}

#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 600px) {
  #loading-screen {
    background-size: 90%;
    background-position: center 55%;
  }
}
